<header class="">
  <nav class="navbar navbar-fixed-top header-div">
    <div class="container">

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="nav navbar-nav">
          <li class="active">
            <div class="dropdown">
              <button class="dropbtn">INSTITUCIONAL</button>
              <div class="dropdown-content">
                <a href="#">Guia de Conduta</a>
                <a href="#">Painel Estratégico</a>
                <a class="dropdown-submenu" href="#">teste</a>
                <a href="#">Organograma Getnet</a>
                <a href="#">Organograma Toque Fale</a>
                <a href="#">Certificações</a>
                <a href="#">Eventos e Mídias</a>
              </div>
            </div>
          </li>
          <li>
            <div class="dropdown">
              <button class="dropbtn"><img class="header-icon" src="./assets/images/header/pessoas.png"></button>
              <div class="dropdown-content">
                <a href="#">Portal do Colaborador</a>
                <a href="#">Ponto Online TECNOPUC</a>
                <a href="#">Gestão do Ponto</a>
                <a href="#">Benefícios e Remuneração</a>
                <a href="#">Saber</a>
                <a href="#">Portal de Metas</a>
                <a href="#">Ciclo de Competências</a>
                <a href="#">Processo Seletivo</a>
                <a href="#">Movimentações Internas</a>
                <a href="#">Bem-vindos</a>
              </div>
            </div>
          </li>
          <li>
            <div class="dropdown">
              <button class="dropbtn"><img class="header-icon" src="./assets/images/header/eficiencia.png"></button>
              <div class="dropdown-content">
                <a href="#">Ferramentas</a>
                <a href="#">Sites Úteis</a>
              </div>
            </div>
          </li>
          <li>
            <div class="dropdown">
              <button class="dropbtn"><img class="header-icon" src="./assets/images/header/inovacao.png"></button>
              <div class="dropdown-content">
                <a href="#">Projetos e Releasess</a>
              </div>
            </div>
          </li>
          <li>
            <div class="dropdown">
              <button class="dropbtn"><img class="header-icon" src="./assets/images/header/qualidade.png"></button>
              <div class="dropdown-content">
                <a href="#">Estrutura por Processos</a>
                <a href="#">Metodologias</a>
                <a href="#">Plataforma de Normas</a>
              </div>
            </div>
          </li>
          <li>
            <div class="dropdown">
              <button class="dropbtn"><img class="header-icon" src="./assets/images/header/clientes.png"></button>
              <div class="dropdown-content">
                <a href="#">Produtos e Serviços</a>
                <a href="#">Grandes Contas</a>
              </div>
            </div>
          </li>
        </ul>
        <div class="pull-right">
          <button class="dropbtn"><img class="header-icon-pesquisa" src="./assets/images/header/pesquisa.png"></button>
        </div>
        <div class="pull-right">
          <button class="dropbtn"><img class="header-icon" src="./assets/images/header/logo-getnet.png"></button>
        </div>
      </div>
    </div>
  </nav>
</header>