<div class="container">
    <button class="btn-transparence"><img src="./assets/images/home/acessorapido/acesso-rapido.png" alt=""></button>
    <button class="btn-transparence">
        <img class="btn-changeable" src="./assets/images/home/acessorapido/gestao-ponto-vermelho.png"
            onmouseover="this.src='./assets/images/home/acessorapido/gestao-ponto-branco.png'"
            onmouseout="this.src='./assets/images/home/acessorapido/gestao-ponto-vermelho.png'" alt="">
    </button>
    <button class="btn-transparence">
        <img class="btn-changeable" src="./assets/images/home/acessorapido/saber-vermelho.png"
            onmouseover="this.src='./assets/images/home/acessorapido/saber-branco.png'"
            onmouseout="this.src='./assets/images/home/acessorapido/saber-vermelho.png'" alt="">
    </button>
    <button class="btn-transparence">
        <img class="btn-changeable" src="./assets/images/home/acessorapido/getnow-vermelho.png"
            onmouseover="this.src='./assets/images/home/acessorapido/getnow-branco.png'"
            onmouseout="this.src='./assets/images/home/acessorapido/getnow-vermelho.png'" alt="">
    </button>
    <button class="btn-transparence">
        <img class="btn-changeable" src="./assets/images/home/acessorapido/indicadores-vermelho.png"
            onmouseover="this.src='./assets/images/home/acessorapido/indicadores-branco.png'"
            onmouseout="this.src='./assets/images/home/acessorapido/indicadores-vermelho.png'" alt="">
    </button>
</div>