.acesso-rapido {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 1%;
    border-bottom: 1px solid rgb(80, 30, 80);
}

.white-space {
    min-height: 2000px;
}

.news {
    max-width: 70%;
    margin-right: 15%;
    margin-left: 15%;
}

.clipping img {
    max-width: 80%;
    margin-right: 10%;
    margin-left: 10%;
}